.circle {
    border-radius: 50%;
}

.ellipse {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;

    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}