.pointed-star-4 {
    // 4 pointed star
    clip-path: polygon(
        0% 50%, /* W */

        40% 40%,

        50% 0%, /* N */

        60% 40%,

        100% 50%, /* E */

        60% 60%,

        50% 100%, /* S */

        40% 60%,

        0% 50% /* back to start */
    );
}

.pointed-star-8 {
    // 4 pointed star
    clip-path: polygon(
        0% 50%, /* W */

        30% 40%, 
        25% 25%, /* NW */
        40% 30%,

        50% 0%, /* N */

        60% 30%,
        75% 25%, /* NE */
        70% 40%,

        100% 50%, /* E */

        70% 60%,
        75% 75%, /* SE */
        60% 70%,

        50% 100%, /* S */

        40% 70%,
        25% 75%, /* SW */
        30% 60%,

        0% 50% /* back to start */
    );
}

.pointed-star-8-skinny {
    // 4 pointed star
    clip-path: polygon(
        0% 50%, /* W */

        35% 45%, 
        25% 25%, /* NW */
        45% 35%,

        50% 0%, /* N */

        55% 35%,
        75% 25%, /* NE */
        65% 45%,

        100% 50%, /* E */

        65% 55%,
        75% 75%, /* SE */
        55% 65%,

        50% 100%, /* S */

        45% 65%,
        25% 75%, /* SW */
        35% 55%,

        0% 50% /* back to start */
    );
}
