#artext {
    background: linear-gradient( to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
    display: inline;
    animation: animated 5s linear infinite;
}
@keyframes animated {
    to {
        background-position-x: 161px;
    }
}